

.stepbutton {
	text-align: center;
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	border-radius: 15px;
	padding: 10px 10px;
	display: block;
	float: left;
	margin: 0 auto;
	margin-right: 30px;
	font-family: arial;
	font-weight: bold;
	color:#333;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #a7a7a7;
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.finishbutton {
	text-align: center;
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	border-radius: 15px;
	padding: 10px 10px;
	display: block;
	margin: 0 auto;
	font-family: arial;
	font-weight: bold;
	color:#333;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #a7a7a7;
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.dibbutton {
    height: 24px;
	text-align: center;
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	border-radius: 8px;
	padding: 2px 5px;
	display: block;
	margin: 10px auto;
    font-size: 9pt;
	font-family: arial;
	font-weight: bold;
	color:#EEE;
	text-decoration: none;
	cursor: pointer;
	border:1px solid #a7a7a7;
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}



.infobox {
	
	background-repeat: no-repeat;
	background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	width: 600px;
	min-height: 70px;
	padding: 5px;
	border: 1px solid #083051;
}


.hwitems table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.hwitems table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.hwitems table a:active,
.hwitems table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.hwitems table, .cs {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin-top:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

#innerpicker {
    text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:12pt;
	width: 820px;
	height: auto;
    padding: 5px;
	margin: 0 auto;
}

#innerpicker a {
	color: #000;
}

.hwitems table th {
	padding:12px 16px 12px 16px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.hwitems table th:first-child {
	text-align: left;
	padding-left:20px;
}
.hwitems table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.hwitems table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.hwitems table tr {
	text-align: center;
	padding-left:20px;
}
.hwitems table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}

.hwitems table td:last-child {
	text-align: left;
}

.hwitems table td {
	padding:3px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
	
}
.hwitems table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.hwitems table tr:last-child td {
	border-bottom:0;
}
.hwitems table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.hwitems table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.hwitems table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}


 .hwwidget table th {
	padding:4px 5px 4px 5px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
 .hwwidget table th:first-child {
	text-align: left;
	padding-left:3px;
}
 .hwwidget table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
 .hwwidget table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
 .hwwidget table tr {
	text-align: center;
	padding-left:3px;
}
 .hwwidget table td:first-child {
	text-align: left;
	padding-left:3px;
	border-left: 0;
}

 .hwwidget table td:last-child {
	text-align: left;
}

 .hwwidget table td {
	padding:2px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
	
}


.itemNumber-widget {
  background: linear-gradient(to bottom, #cce843 0%,#90cc04 100%);
  border-radius: 12px;
  border: 2px solid #FFF;
  color: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(153,153,153,1);
  width: 14px;
  float: left;
  text-align: center;
  font-family: sans-serif;
  margin-right: 7px;
  height: 12px;
  font-size: 9px;
  margin-bottom: 4px !important;
  padding-top: 0px !important;
  line-height: 12px !important;
  position: relative;
  top: 0px;
  left: 0px;
}

.hwwidget img {
    vertical-align: middle;
    margin-right: 5px;
}


.wizitem {
    border-radius: 30px;
    border: 2px solid #333;
	text-align: center;
	margin: 10px;
	height: 140px !important;
	position: relative;
	float: none !important;
	display: inline-block;
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
}

.wizitem:hover {
    cursor: pointer;
}
