html {
    background: linear-gradient(135deg, #29bee8 0%,#005b89 100%);
    min-height: 100%;
    color: #FFF;
}
body p {
    margin: 2px;
    padding: 0px;
}
body a {
    color: #FFF;
}

.option {
    width: 640px !important;
    margin: 6px auto;
    min-height: 48px;
    border: 1px solid #EEE;
    line-height: 48px;
    font-weight: bold;
    color: #222;
    border-radius: 12px;
    opacity: 1;
    animation: fadein 0.65s;
    text-align: left;
    font-family: sans-serif;
    font-size: 12pt;
}

.optiontwo {
    width: 640px !important;
    margin: 6px auto;
    padding: 6px;
    min-height: 48px;
    border: 1px solid #EEE;
    line-height: 48px;
    font-weight: normal;
    color: #222;
    border-radius: 12px;
    opacity: 1;
    animation: fadein 0.65s;
    text-align: left;
    font-family: sans-serif;
}

@keyframes fadein {
    from { transform: scale(0.5); opacity: 0; }
    to   { transform: scale(1); opacity: 1;}
}


.option:hover {
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}

.optiontwo label {
    font-size: 10pt;
    
}
.option div:before {
    content: '▶  ';
    color: #FFF;
}

.option:hover div {
    opacity: 1;
}
.option div {
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 24px;
    color: #FFF;
    opacity: 0.8;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: -3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 24px;
    float: left;
}


pre {
    background: #EFE !important;
    max-width: 940px;
    color: #333;
    padding: 5px;
}

#pickerparent {
    border: 1px solid #EEE;
    background: linear-gradient(135deg, #ffdb7a 0%,#fcca41 100%);
    border-radius: 12px;
    color: #333;
    width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 10pt;
}